[Desktop Entry]
Name=GNOME Toaster
Type=Application
Comment=A frontend for mkisofs/mkhybrid/cdda2wav/cdrecord/cdlabelgen
Comment[de]=Vielseitige CD Brennen Software
Comment[pl]=Nakładka na mkisofs/mkhybrid/cdda2wav/cdrecord/cdlabelgen
Exec=gtoaster
Icon=gtoaster
Terminal=false
Categories=GTK;AudioVideo;DiscBurning;
# vi: encoding=utf-8
