[Desktop Entry]
Name=Gnome Toaster
Type=Application
Comment=A frontend for mkisofs/mkhybrid/cdda2wav/cdrecord/cdlabelgen
Comment[de]=Vielseitige CD Brennen Software
Comment[pl]=Nakładka na mkisofs/mkhybrid/cdda2wav/cdrecord/cdlabelgen
Exec=gtoaster
Icon=gtoaster.png
Terminal=0
Encoding=UTF-8
# vi: encoding=utf-8
